<h1>Form POST를 써서 해보자!</h1></br>
<form method="POST">
    Ask Google : <input type="hidden" name="engine" value="google">
    <input type="text" name="q"><input type="submit" value = "search!"></br>
</form>
<form method="POST">
    Ask Naver : <input type="hidden" name="engine" value="naver">
    <input type="text" name="query"><input type="submit" value = "search!"></br>
</form>

<h1>Form Action을 써서 해보자!</h1>
<form action="https://www.google.com/search">
    Ask Google : <input type="text" name="q"><input type="submit" value = "search"></br>
</form>
<form action='https://search.naver.com/search.naver'>
    Ask Naver : <input type="text" name="query"><input type="submit" value = "search"></br>
</form>
