<h1>Create New Board</h1>
<form action="/board_create" method="POST">
    
    제목 <input type="text" name = "title" placeholder = "제목"><br/>
    본문 <textarea name = "contents" placeholder = "본문"></textarea>
    <br><input type = "submit" value = "등록하기">
    
</form>